---
import Layout from "src/layouts/layout.astro";
import Friends from "src/components/Friends.astro";
import { friends, comment as commentConfig } from "../../config.yml";
---

<Layout activeNav="" frontmatter={{ comment: true }}>
  <div class="flex text-2xl font-bold mt-8">友情链接</div>
  <br>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
    {friends ? friends.map((friend) => <Friends {...friend} />) : ""}
  </div>
</Layout>
